/* 全体 */
.content{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 10%;

}


/* aタグ */
a{
    text-decoration: none;
    color: #000000;
    font-size: 90%;
  }
a:hover{
    color: #000000;
  }



.select{
    justify-content: center;
    padding: 30px 10px;
}


/* LINE006 */
.button_line006  {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 56px;
    max-width: 220px;
    padding: 10px 45px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    
}
.button_line006 a:before,
.button_line006 a:after {
  position: absolute;
  width: 100%;
  height: 3px;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #000;
}

.button_line006 a:before {
  top: 0;
  left: 0;
}

.button_line006 a:after {
  right: 0;
  bottom: 0;
}

.button_line006 a:hover:before,
.button_line006 a:hover:after {
  width: 0;
}


.button_line006{
    width: 250px;
    font-size: large;
}




.submit{
    font-size: 25px;
    
}


header{
  padding-left: 12px;
  padding-right: 12px;
  background-color: #b9d9ff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  line-height: 100px;
}
h2{
  /* padding-top: 9px; */
  display: contents;
}
img{
  /* width: 15px;
  object-fit: contain; */
}
a{
  margin: 0;
  text-decoration: none;
  color: black;
  /* line-height: 100px; */
}
.submit{
  /* margin-top: 10px; */
  font-size: 25px;
  
}
.thumbnail{
  /* padding-top: 10px; */
  width: 100px;
  
}
img{
  /* padding-top: 15px; */
  width: 250px;
  /* margin: auto; */

}
