a{
    text-decoration: none;
    color: #000000;
    font-size: large;
}
a:hover{
    color: #000000;
}

.submit{
    font-size: 25px;
}


.content2{
    display: flex;
    justify-content: space-between;
}


/* h1見出し */

.headline {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.headline::before,
.headline::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #000000;
}

.headline::before {
	margin-right: 20px;
}
.headline::after {
	margin-left: 20px;
}




/* aタグ　ボタン */
.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    backface-visibility: hidden;
    border: 0.2rem solid transparent;
    border-radius: 3rem;
    margin-top: 1.3%;
    margin-bottom: 1.3%;
  }
  
  .bn36 {
    display: flex;
    width: 167px;
    margin: 0 auto;
    border-color: #000000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  
  .bn36:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }


/* img{
    width: 8%;
    margin: auto;
} */

.homeicon{
    display: flex;
}
.form-select{
    margin-bottom: 3%;
}


.content{
    margin-top: 8%;
}

html,body{
    overflow: hidden;
}

header{
    padding-left: 12px;
    padding-right: 15px;
    background-color: #b9d9ff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    line-height: 100px;
  }
  h2{
    /* padding-top: 9px; */
    display: contents;
  }
  img{
    /* width: 15px;
    object-fit: contain; */
  }
  a{
    margin: 0;
    text-decoration: none;
    color: black;
    /* line-height: 100px; */
  }
  .submit{
    /* margin-top: 10px; */
    font-size: 25px;
    padding-right: 26px;
    
  }
  .thumbnail{
    /* padding-top: 10px; */
    width: 100px;
    
  }
  img{
    padding-top: 22px;
    width: 250px;
    /* margin: auto; */
  
  }